<div class="container">
  <div class="row" style="margin-top: 30px;">
    <div class="col-6">
      <h3>Permissions</h3>
    </div>
    <div class="col-md-3 col-6 text-right">
      <a class="text-white btn btn-info" (click)='add()'>Add New Permission</a>
    </div>
    <div class="col-md-3 text-right">
      <input type="search" class="form-control" id="search" name="search" placeholder="Search"  [(ngModel)]="keyword" (keyup)="search()"/>
    </div>
  </div>
</div>
<hr>

<div class="container">
    <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th (click)="sort('name')"><a href="javascript:void(0)" style="color:black">Name <span *ngIf="sortData.col=='name'"><i class="fa fa-caret-down" *ngIf="sortData.order=='asc'"></i><i class="fa fa-caret-up" *ngIf="sortData.order=='desc'"></i></span></a></th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let permission of permissions">
            <td>{{ permission.name }}</td>
              <td>
              <a href="javascript:void(0)" class="item"  (click)='edit( permission.id )' data-toggle="tooltip" data-placement="top" title="Edit" style="padding-right: 10px;">
                  <i class="fa fa-edit"></i>
              </a>
              <a href="javascript:void(0)" class="item"  (click)='delete( permission.id )' data-toggle="tooltip" data-placement="top" title="Delete" style="padding-right: 10px;">
                  <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-12 justify-content-center" style="display: flex !important; justify-content: center !important;">
        <ngb-pagination [(collectionSize)]="pagination.max" (pageChange)="paginateClick($event)" [(page)]="pagination.page" ></ngb-pagination>
      </div>
    </div>

<!-- The Modal -->
<div id="editModal" class="modal" style="background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);">
  <div class="modal-dialog" permission="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Permission</h5>
        <button type="button" class="close" (click)='closeEditModal()'>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="alert alert-danger" [hidden]="!error.name">
                {{ error.name }}
              </div>
        <form #newPermissionForm=ngForm>
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter name"  required [(ngModel)]="data.name"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary"  [disabled]="!newPermissionForm.valid" (click)='editsubmit()'>Save changes</button>
        <button type="button" class="btn btn-secondary" (click)='closeEditModal()'>Close</button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="addModal" class="modal" style="background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);">

  <div class="modal-dialog" permission="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Permission</h5>
        <button type="button" class="close" (click)='closeAddModal()'>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="alert alert-danger" [hidden]="!error.name">
                {{ error.name }}
              </div>
        <form #editPermissionForm=ngForm>

            <div class="form-group">
                <label for="name">Name</label>
              <input type="name" name="name" id="inputName" class="form-control" placeholder="Name" [(ngModel)]="form.name" required>
            </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)='addModalSubmit()' [disabled]="!editPermissionForm.valid">Save changes</button>
        <button type="button" class="btn btn-secondary" (click)='closeAddModal()'>Close</button>
      </div>
    </div>
  </div>
</div>
