<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar" *ngIf="loggedIn">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
          <ul id="sidebarnav">
              <li class="nav-small-cap">
                  <i class="mdi mdi-dots-horizontal"></i>
                  <span class="hide-menu">User Managment</span>
              </li>
              <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark" href="javascript:void(0)" routerLink="/users">
                      <i class="icon-User"></i>
                      <span class="hide-menu">Role Managment</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark" href="javascript:void(0)" routerLink="/roles">
                    <i class="icon-User"></i>
                    <span class="hide-menu">Roles</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark" href="javascript:void(0)" routerLink="/permissions">
                    <i class="icon-User"></i>
                    <span class="hide-menu">Permissions</span>
                  </a>
              </li>
          </ul>
      </nav>
      <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
