<head>  <!-- Twitter -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@quickschools"/>
  <meta name="twitter:creator" content="@quickschools"/>
  <meta name="twitter:url" content="https://quickschools.com/"/>
  <meta name="twitter:title" content="School Management Software - QuickSchools"/>
  <meta name="twitter:description" content="World's first fully online school management system with scheduler, parent portal, attendance, homework, grades, report card and more. FREE 30-day trial."/>
  <meta name="twitter:image" content="https://www.quickschools.com/images/logo.png"/>

  <!-- Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://quickschools.com/"/>
  <meta property="og:image" content="https://www.quickschools.com/images/logo.png"/>
  <meta property="og:title" content="School Management Software - QuickSchools"/>
  <meta property="og:description" content="World's first fully online school management system with scheduler, parent portal, attendance, homework, grades, report card and more. FREE 30-day trial."/>
  <meta property="og:site_name" content="QuickSchools" />

  <meta name="google-site-verification" content="qWwrgqf0sYcQOtsxTOo88Ixz0lnSmT2tBvoJMJNvIdk" />
  <meta name="p:domain_verify" content="fd2e1f4bd2a2a671692c4710a90cb9ac"/>
  <meta name="msvalidate.01" content="4708DD4DAF4774A55E5BC11D5EE5E5D1" />
  <link rel="canonical" href="https://www.quickschools.com">

  <!-- Google Optimize: Minimize page flickering -->
  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-5LP3XLT':true});</script>
  <!-- End Google Optimize: Minimize page flickering -->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5LP3XLT');</script>
  <!-- End Google Tag Manager -->

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "@id": "#website",
      "url": "https://www.quickschools.com/",
      "name": "QuickSchools",
      "potentialAction":{
        "@type": "SearchAction",
        "target": "https://www.quickschools.com/?s={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://www.schema.org",
      "@type": "Organization",
      "name": "QuickSchools",
      "legalName" : "QuickSchools, Inc",
      "url": "https://www.quickschools.com",
      "logo": "https://www.quickschools.com/images/logo.png",
      "description": "World's first fully online school management system with scheduler, parent portal, attendance, homework, grades, report card and more. FREE 30-day trial.",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+1 6503997075",
        "contactType" : "Sales"
      }
    }
  </script>

  <link rel="stylesheet" href="/css/index_exp.css" />
  <link rel="stylesheet" href="/css/adapter.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/scripts/gears.min.js"></script>


  <!-- Nav Menu Responsive Works -->
  <script>
    $(document).ready(function(){
      $('.navbar-toggle').click(function(){
    		$('.navbar-items').toggleClass('navbar-toggle_show');
    		$('#burgerbars').toggleClass('open');
    	});
    });
  </script>
  <!-- End Nav Menu Responsive Works -->
</head>

<body>

<!-- Navigation Menu -->
<div class="navbar-sticky">
  <div class="navbar row">
    <div class="mobile-menu">
     <div class="navbar-logo">
       <a href="/"><img itemprop="image" alt="school management software, online school management system - QuickSchools" title="school management software, online school management system, QuickSchools" src="/images/logo-new-60px.png"></a>
    </div>
      <div class="navbar-link navbar-toggle">
        <div id="burgerbars"><span></span><span></span><span></span><span></span></div>
      </div>
    </div>
    <nav class="navbar-items navbar-items_right">
      <div class="navbar-link">
        <a href="/quickschools/quick-tour">Quick Tour</a>
      </div>
      <div class="navbar-link">
        <a href="/quickschools/pricing">Pricing</a>
      </div>
      <div class="navbar-link">
        <a href="/quickschools/features">Features</a>
      </div>
      <div class="navbar-link navbar-link_highlight">
        <a href="/quickschools/log-in">Log In</a>
      </div>
      <div class="navbar-link">
        <a href="/quickschools/free-trial">Sign Up</a>
      </div>
    </nav>
  </div>
</div>

<!-- Hero -->
<div class="hero-container row">
    <div class="hero-container-left">
      <h1>Online School Management Software</h1>
      <ul class="hero-container-bullets">
        <li>Customizable gradebook software</li>
        <li>Homework and assignments management</li>
        <li>Powerful Student Information System (SIS)</li>
        <li>Classroom and attendance management</li>
        <li>Parents portal to track child's progress</li>
        <li>Admissions management platform</li>
      </ul>
      <a href="quickschools/free-trial" class="button-primary">Sign Up For Free</a>
    </div>
    <div class="hero-container-right"><img alt="" src="https://d1512cxhwqig2.cloudfront.net/images/hero.png"></div>
	<!--</div>-->
</div>


<!-- Testimonials -->
<div id="testimonial-section" class="wrap">
  <h2>What They’re Saying</h2>
  <div class="wrap-inner">
    <div class="testimonial-legacy" id="test-left">
      <h3>
        <span><img alt="open quote" src="https://d1512cxhwqig2.cloudfront.net/images/q-1.png"></span>
        We've been very happy with the student information system software.
        <span><img alt="end quote" src="https://d1512cxhwqig2.cloudfront.net/images/q-2.png"></span>
      </h3>
      <p class="cite">&nbsp;&nbsp;Chris Johnson, Cornerstone Christian Academy</p>
    </div>

    <div class="testimonial-legacy" id="test-right">
      <h3>
        <span><img alt="open quote" src="https://d1512cxhwqig2.cloudfront.net/images/q-1.png"></span>
        When we introduced QuickSchools to the teachers, they were like, this is it! They loved it.
        <span><img alt="end quote" src="https://d1512cxhwqig2.cloudfront.net/images/q-2.png"></span>
      </h3>
      <p class="cite">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cheryl Mitchel, Principal, Corona Academy</p>
    </div>
	</div>
</div>

<!-- Callout -->
<!-- Begin Callout -->
<div class="wrap callout"  id="contact-sales">
<div class="wrap-inner">


<div class="cs-box">
<h3>Sign up for FREE and start using quickschools today.</h3>
<a class="cs-button" href="/quickschools/free-trial">sign up for free</a>
</div>


<div class="cs-or">or</div>

<div class="cs-box">
<h3>Get in touch to find out more about our product.</h3>
<a class="cs-button" href="/company/contact-us">contact us</a> or call <a class="cs-number" href="tel:1-650-399-7075">1-650-399-7075</a>
</div>

</div>
</div>

<!-- Features -->

<div class="container-wrap section-feature">
  <h2>Popular Features</h2>
  <div class="subtitle">All the tools you need to manage your school and automate administrative tasks efficiently is available on QuickSchools.</div>
  <div class="container row">
    <a href="quickschools/features/scheduling">
      <div class="item">
        <img alt="timetable icon" src="https://d1512cxhwqig2.cloudfront.net/images/feature-9-schedule-management.png">
        <h4>Schedule Management</h4>
        <p>Generate printable school's schedules by student, teacher or class.</p>
      </div>
    </a>

    <a href="quickschools/features/report-card">
      <div class="item">
        <img alt="report card icon" src="https://d1512cxhwqig2.cloudfront.net/images/feature-6-report-card.png">
        <h4>Report Card</h4>
        <p>Customize your own format, grading criteria, grading flow and print them easily.</p>
      </div>
    </a>

    <a href="quickschools/features/transcripts">
      <div class="item">
        <img alt="transcripts icon" src="https://d1512cxhwqig2.cloudfront.net/images/feature-7-transcripts.png">
        <h4>Transcripts</h4>
        <p>Customize transcripts quickly and never worry about losing them ever.</p>
      </div>
    </a>

    <a href="quickschools/features/student-information-system">
      <div class="item">
        <img alt="student information system" src="https://d1512cxhwqig2.cloudfront.net/images/feature-1-student-information-management.png">
        <h4>Student Information</h4>
        <p>Access student details, grades, schedules, attendance and activities.</p>
      </div>
    </a>

    <a href="quickschools/features/teacher-information">
      <div class="item">
        <img alt="teacher management" src="https://d1512cxhwqig2.cloudfront.net/images/feature-2-teacher-information-management.png">
        <h4>Teacher Information</h4>
        <p>For school admins to keep track of teachers' particulars, and schedules.</p>
      </div>
    </a>

    <a href="quickschools/features/parent-access">
      <div class="item">
        <img alt="parent access icon" src="https://d1512cxhwqig2.cloudfront.net/images/feature-3-parent-access.png">
        <h4>Parent Access</h4>
        <p>Keep track of attendance, workload and progress through Parent Portal.</p>
      </div>
    </a>

    <a href="quickschools/features/attendance">
      <div class="item">
        <img alt="attendance tracker icon" src="https://d1512cxhwqig2.cloudfront.net/images/feature-4-attendance-management.png">
        <h4>Attendance Management</h4>
        <p>Track attendance by homeroom, period or subject and notify parents.
        </p>
      </div>
    </a>

    <a href="quickschools/features/online-gradebook">
      <div class="item">
        <img alt="gradebook icon" src="https://d1512cxhwqig2.cloudfront.net/images/feature-5-gradebook.png">
        <h4>Gradebook</h4>
        <p>A powerful and versatile online gradebook software that's loved by teachers.</p>
      </div>
    </a>

    <a href="quickschools/features/homework">
      <div class="item">
        <img alt="homework icon" src="https://d1512cxhwqig2.cloudfront.net/images/feature-8-homework.png">
        <h4>Homework</h4>
        <p>Create homework assignments in seconds and share them instantly with your students.</p>
      </div>
    </a>

    <a href="quickschools/features/admissions">
      <div class="item">
        <img alt="admission icon" src="https://d1512cxhwqig2.cloudfront.net/images/feature-10-admissions-management.png">
        <h4>Admissions Management</h4>
        <p>Communicate with prospects and never lose a lead with an integrated admissions platform.</p>
      </div>
    </a>

    <a href="quickschools/features/fee-tracking">
      <div class="item">
        <img alt="fee tracking icon" src="https://d1512cxhwqig2.cloudfront.net/images/feature-11-fee-tracking-and-online-payments.png">
        <h4>Fee Tracking & Online Payments</h4>
        <p>A simply effective fee and donations tracking system for admins.</p>
      </div>
    </a>

    <a href="quickschools/features/email-messaging">
      <div class="item">
        <img alt="communicate icon" src="https://d1512cxhwqig2.cloudfront.net/images/feature-12-email-text-and-voice-messaging.png">
        <h4>Email, Text & Voice Messaging</h4>
        <p>Instant communication with parents through email, text and voice messages.</p>
      </div>
    </a>
  </div>
  <a href="/quickschools/features" class="button-features">View all features</a>
</div>

<!-- Callout -->
<!-- Begin Callout -->
<div class="wrap callout"  id="contact-sales">
<div class="wrap-inner">


<div class="cs-box">
<h3>Sign up for FREE and start using quickschools today.</h3>
<a class="cs-button" href="/quickschools/free-trial">sign up for free</a>
</div>


<div class="cs-or">or</div>

<div class="cs-box">
<h3>Get in touch to find out more about our product.</h3>
<a class="cs-button" href="/company/contact-us">contact us</a> or call <a class="cs-number" href="tel:1-650-399-7075">1-650-399-7075</a>
</div>

</div>
</div>

<div class="footer-global row">
  <!-- Mega Footer -->
  <div class="bigfoot-container">
  <ul class="link-section">
    <li class="link-section-title">Company</li>
    <li>
      <ul>
        <li><a href="/company/about">About Us</a></li>
        <li><a href="https://blog.quickschools.com/">Blog</a></li>
        <li><a href="/company/press">Press</a></li>
        <li><a href="https://www.dropbox.com/s/qndfwcumr21ojeq/QS-Brochure.pdf?dl=0">Download Brochure</a></li>
        <li><a href="https://docs.google.com/presentation/d/1QFBBahVMwFKd6rRYiLXblXpmxvLfJ41ErBECz3OEoi4/edit?usp=sharing">Online Presentation</a></li>
        <li><a href="/company/referralprogram">Referral Program</a></li>
        <li><a href="/company/contact-us">Contact Us</a></li>
      </ul>
    </li>
  </ul>

  <ul class="link-section">
    <li class="link-section-title">Features</li>
    <li>
      <ul>
        <li><a href="/quickschools/features/scheduling">Schedule Management</a></li>
        <li><a href="/quickschools/features/report-card">Report Cards</a></li>
        <li><a href="/quickschools/features/transcripts">Transcripts</a></li>
        <li><a href="/quickschools/features/parent-access">Parent Portal</a></li>
        <li><a href="/quickschools/features/student-information-system">Student Information</a></li>
        <li><a href="/quickschools/features/teacher-information">Teacher Management</a></li>
        <li><a href="/quickschools/features/gradebook">Gradebook</a></li>
        <li><a href="/quickschools/features/email-messaging">Messaging</a></li>
        <li><a href="/quickschools/features/admissions">Admission System</a></li>
        <li><a href="/quickschools/features/fee-tracking">Fee Tracking</a></li>
      </ul>
    </li>
  </ul>

  <ul class="link-section">
    <li class="link-section-title">Stories</li>
    <li>
      <ul>
        <li><a href="/quickschools/stories/student-information-system-elementary-schools">Stamford Elementary, VT</a></li>
        <li><a href="/quickschools/stories/student-information-system-faith-based-schools">Finger Lakes Christian, NY</a></li>
        <li><a href="/quickschools/stories/student-information-system-religious-schools">St Matthew's Parish, CA</a></li>
        <li><a href="/quickschools/stories/student-information-system-online-schools">On Track, CA</a></li>
        <li><a href="/quickschools/stories/student-information-system-lapaz-school">La Paz Community, Costa Rica</a></li>
        <li><a href="/quickschools/stories/student-information-system-origins-school">Origins Elementary, Pakistan</a></li>
        <li><a href="/quickschools/stories/student-information-system-for-catholic-schools">St. Monica Catholic, TX</a></li>
      </ul>
    </li>
  </ul>

  <ul class="link-section">
    <li class="link-section-title">Segments</li>
    <li>
      <ul>
        <li><a href="/segments/adult-education">Adult Education</a></li>
        <li><a href="/segments/language-school">Language School</a></li>
      </ul>
    </li>
  </ul>
</div>

  <!-- Footer -->
  <footer>
  <div class="footer-social">
    <a href="https://www.facebook.com/quickschoolsinc/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/quickschools" class="fa fa-twitter"></a>
    <a href="https://www.linkedin.com/company/quickschools.com" class="fa fa-linkedin"></a>
    <a href="https://www.youtube.com/user/quickschools" class="fa fa-youtube"></a>
    <a href="https://www.pinterest.com/quickschools/" class="fa fa-pinterest"></a>
    <a href="https://feeds2.feedburner.com/QuickschoolscomBlog" class="fa fa-rss"></a>
  </div>

  <div class="footer-legal">
    <p class="footer-legal-copyright">© 2018 QuickSchools, Inc. All rights reserved. <!--<span class="footer-legal-madein"> Made with <i class="fa fa-heart fa-heart-footer"></i> by QuickSchools.</p></span>-->

    <ul class="footer-legal-links">
      <li><a href="/company/legal/privacy">Privacy Policy</a></li>
      <li><a href="/company/legal/privacy-shield">Privacy Shield</a></li>
      <li><a href="/company/legal/disclaimer">Disclaimer</a></li>
      <li><a href="/company/legal/terms">Terms of Service</a></li>
    </ul>
  </div>

</footer>

<!--Start of Zopim Live Chat Script-->
<script>
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='https://v2.zopim.com/?CZWSCPCJYXBWq33TrxEjtD0U3pXDT3wH';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->

</div>
