<div class="container my-4" *ngIf="isStudentorParent">
  <div class="">
    <div class="">
        <div class="card shadow" style="width: 18rem;" *ngFor="let sub of subjects">
          <!-- <img class="card-img-top" src="../../assets/img/theme/img-1-1000x900.jpg" alt="Card image cap"> -->
          <div class="card-body">
            <h2 class="card-title">English</h2>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
  </div>
</div>
