<div class="container my-4" *ngIf="isStudent || isParent">
  <div class="card shadow">
    <div class="card-body">
      <div class="row text-center">
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
              Previous
            </div>
            <div
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate">
              Today
            </div>
            <div
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
              Next
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              (click)="view = CalendarView.Month"
              [class.active]="view === CalendarView.Month">
              Month
            </div>
            <div
              class="btn btn-primary"
              (click)="view = CalendarView.Week"
              [class.active]="view === CalendarView.Week">
              Week
            </div>
            <div
              class="btn btn-primary"
              (click)="view = CalendarView.Day"
              [class.active]="view === CalendarView.Day">
              Day
            </div>
          </div>
        </div>
      </div>
      <br>
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>
</div>

  <div class="container" *ngIf="isTeacher">
  <div class="card shadow my-4">
    <div class="card-header border-0">
        <div class="col-6">
          <h3>Attendance Mark</h3>
        </div>
        <p class="text-right">{{today | date:'yyyy-MM-dd'}}</p>
        <div class="table-responsive">
          <table class="table align-items-center table-flush text-center">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Student IndexNo</th>
                  <th scope="col">Student Name</th>
                  <th scope="col">Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of students">
                  <td>{{ student.indexNo }}</td>
                  <td>{{ student.user.name }}</td>
                  <td>
                      <label class="switch">
                        <input type="checkbox" name="attendance" (change)="submit(student.id, $event)" (checked)="student.attendance[0].state">
                        <span class="slider"></span>
                      </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>

