<ng-snotify></ng-snotify>

<!-- Preloader - spinners.css -->
<div class="preloader">
  <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
  </div>
</div>


<!-- Main wrapper -  pages.scss -->
<div id="main-wrapper">

    <app-nav></app-nav>       <!--Top Navigation Bar-->
    <app-slider></app-slider> <!--Side navigation panel-->

    <div class="page-wrapper">

      <router-outlet></router-outlet>   <!--Router Outlet-->

      <footer class="footer text-center">Designed and Developed by Team Seakers.</footer>
    </div>

</div>
