<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <button class="btn btn-default navbar-btn yay-toggle navbar-toggler" *ngIf="loggedIn" (click)='toggle()' type="button" style="display: inline!important; margin-right: 10px!important"><i class="fa fa-bars"></i></button>
  <a class="navbar-brand" routerLink="" *ngIf="!loggedIn">EMS</a>
  <a class="navbar-brand" routerLink="dashboard" *ngIf="loggedIn">EMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="text-white" routerLink="login" style="padding-right: 20px;" *ngIf="!loggedIn">Login</a>
      <a class="text-white" routerLink="signup" style="padding-right: 20px;" *ngIf="!loggedIn">Register</a>

      <a class="text-white" href="javascript:void(0)" (click)="logout($event)" style="padding-right: 20px;" *ngIf="loggedIn">Logout</a>
    </form>
  </div>
</nav>

<!--

  Yay Sidebar

  Options [you can use all of theme classnames]:

    .yay-hide-to-small   - no hide menu, just set it small with big icons

    .yay-static          - stop using fixed sidebar (will scroll with content)

    .yay-gestures        - to show and hide menu using gesture swipes

    .yay-light           - light color scheme

    .yay-overlap-content - hide menu on content click



  Effects [you can use one of these classnames]:

    .yay-overlay  - overlay content

    .yay-push     - push content to right

    .yay-shrink   - shrink content width

-->
<div style="position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 999; background-color: gray; opacity: 0.6;" (click)='toggle()' *ngIf="_opened && loggedIn"></div>
  <div class="yaybar yay-hide-to-small yay-push yay-gestures" *ngIf="_opened && loggedIn" style="z-index: 1000;">
      <div class="nano">
        <div class="nano-content">
          <ul>
            <li class="sidenav-content label">Menu</li>

            <li class="active">
              <a (click)="subtoggle('sub-users')"><i class="fa fa-indent"></i>Users Managment<span class="badge"> 7 </span><span class="yay-collapse-icon fa fa-angle-down sidenav-content"></span></a>
              <ul class="sidenav-content">
                <li>
                    <a class="sub-users" routerLink="users" style="display: none">Users</a>
                    <a class="sub-users" routerLink="roles" style="display: none">Roles</a>
                    <a class="sub-users" routerLink="permissions" style="display: none">Permissions</a>
                </li>
              </ul>
            </li>

            <li>
              <a routerLink="attendance"><i class="fa fa-book"></i>Attendance Managment</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <!-- /Yay Sidebar -->

