<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-dark">
      <div class="navbar-header">
          <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
              <i class="ti-menu ti-close"></i>
          </a>

          <a class="navbar-brand" [routerLink]="['/']" style="background: #3d3d3d;">
              <b class="logo-icon">
                  <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
              </b>
              <span class="logo-text">
                  <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
              </span>
          </a>

          <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="ti-more"></i>
          </a>
      </div>


      <div class="navbar-collapse collapse" id="navbarSupportedContent" style="background: #3d3d3d;">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav float-left mr-auto">
              <li class="nav-item d-none d-md-block">
                  <a class="nav-link sidebartoggler waves-effect waves-light" style="color: #ddd;" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                      <i class="sl-icon-menu font-20"  *ngIf="loggedIn"></i>
                  </a>
              </li>


          </ul>
          <!-- ============================================================== -->
          <!-- Right side toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav float-right" *ngIf="loggedIn">
              <!-- ============================================================== -->
              <!-- Notifications -->
              <!-- ============================================================== -->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle waves-effect waves-dark" style="color: #ddd; font-size: 20px;" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-bell"><sup *ngIf="unreadCount!=0">{{unreadCount}}</sup></i>

                  </a>
                  <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                      <span class="with-arrow">
                          <span class="bg-primary"></span>
                      </span>
                      <ul class="list-style-none">
                          <li>
                              <div class="drop-title bg-primary text-white">
                                  <h4 class="m-b-0 m-t-5">{{unreadCount}} New</h4>
                                  <span class="font-light">Notices</span>
                              </div>
                          </li>
                          <li>
                              <div class="message-center notifications">


                                  <!-- Message -->
                                  <a href="javascript:void(0)" class="message-item" *ngFor="let n of unread">
                                      <span class="btn btn-danger btn-circle">
                                          <i class="fa fa-link"></i>
                                      </span>
                                      <div class="mail-contnet" >
                                          <h5 class="message-title">{{n.title}}</h5>
                                          <span class="mail-desc">{{n.content}}</span>
                                          <span class="time">{{n.created_at}}</span>
                                      </div>
                                  </a>

                              </div>
                          </li>
                          <li>
                              <a class="nav-link text-center m-b-5" routerLink="/notices">
                                  <strong>Check all Notices</strong>
                                  <i class="fa fa-angle-right"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
              </li>
              <!-- ============================================================== -->
              <!-- End Notifications -->
              <!-- ============================================================== -->
              <!-- ============================================================== -->
              <!-- Messages -->
              <!-- ============================================================== -->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle waves-effect waves-dark" style="color: #ddd; font-size: 20px;" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-envelope"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" aria-labelledby="2">
                      <span class="with-arrow">
                          <span class="bg-danger"></span>
                      </span>
                      <ul class="list-style-none">
                          <li>
                              <div class="drop-title bg-danger text-white">
                                  <h4 class="m-b-0 m-t-5">5 New</h4>
                                  <span class="font-light">Messages</span>
                              </div>
                          </li>
                          <li>
                              <div class="message-center message-body">

                                  <!-- Message -->
                                  <a href="javascript:void(0)" class="message-item">
                                      <span class="user-img">
                                          <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle">
                                          <span class="profile-status pull-right"></span>
                                      </span>
                                      <div class="mail-contnet">
                                          <h5 class="message-title">Pavan kumar</h5>
                                          <span class="mail-desc">Just see the my admin!</span>
                                          <span class="time">9:30 AM</span>
                                      </div>
                                  </a>

                              </div>
                          </li>
                          <li>
                              <a class="nav-link text-center link" href="javascript:void(0);">
                                  <b>See all messages</b>
                                  <i class="fa fa-angle-right"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
              </li>
              <!-- ============================================================== -->
              <!-- End Messages -->
              <!-- ============================================================== -->


              <!-- ============================================================== -->
              <!-- User profile -->
              <!-- ============================================================== -->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <img src="{{user.img}}" alt="user" class="rounded-circle" width="30">
                  </a>
                  <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                      <span class="with-arrow">
                          <span class="bg-primary"></span>
                      </span>
                      <div class="d-flex no-block align-items-center p-15 bg-primary text-white m-b-10">
                          <div class="">
                              <img src="{{user.img}}" alt="user" class="img-circle" width="60">
                          </div>
                          <div class="m-l-10">
                              <h4 class="m-b-0">{{user.name}}</h4>
                              <p class=" m-b-0">{{user.email}}</p>
                          </div>
                      </div>
                      <a class="dropdown-item" href="javascript:void(0)" routerLink="/profile">
                          <i class="ti-user m-r-5 m-l-5"></i> Profile</a>
                      <a class="dropdown-item" href="javascript:void(0)">
                          <i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">
                          <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                  </div>
              </li>
              <!-- ============================================================== -->
              <!-- User profile-->
              <!-- ============================================================== -->
          </ul>
          <ul class="navbar-nav float-right" *ngIf="!loggedIn">
            <li class="nav-item">
                <a class="nav-link text-white pr-4" style="font-size: 16px" routerLink="/login">Login</a>
              </li>
          </ul>
      </div>
  </nav>
</header>
