<div class="container">
    <div class="card shadow my-4">
      <div class="card-header border-0">
          <div class="row" style="margin-top: 30px;">
            <div class="col-6">
              <h3>Subject Management</h3>
          </div>
      </div>
      <div class="col-md-3 col-6 text-right float-right mb-4">
          <a class="text-white btn btn-info mr-5" (click)='add()'>Add New Subject</a>
        </div>
      <div class="table-responsive">
          <table class="table align-items-center table-flush text-center">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Year</th>
                  <th scope="col">Name</th>
                  <th scope="col">Teacher</th>
                  <th scope="col">Teacher Profile</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let subject of subjects">
                  <td>{{ subject.year }}</td>
                  <td>{{subject.name}}</td>
                  <td>{{subject.teacher.user.name}}</td>
                  <td><a href="javascript:void(0)" class="item"  [routerLink]="['/profile']" [queryParams]="{id: subject.teacher.user.id}" data-toggle="tooltip" data-placement="top" title="View User" style="padding-right: 10px;">
                    <i class="fa fa-user"></i>
                </a></td>
                  <td>
                      <a href="javascript:void(0)" class="item"  (click)='edit( class.id )' data-toggle="tooltip" data-placement="top" title="Edit" style="padding-right: 10px;">
                          <i class="fa fa-edit"></i>
                      </a>
                      <a href="javascript:void(0)" class="item"  (click)='delete( class.id )' data-toggle="tooltip" data-placement="top" title="Delete" style="padding-right: 10px;">
                          <i class="fa fa-trash"></i>
                        </a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>
</div>


    <!-- The Modal -->
    <div id="editModal" class="modal" style="background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Subject</h5>
                <button type="button" class="close" (click)='closeEditModal()'>
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="alert alert-danger" [hidden]="!error.title">
                      {{ error.year }}
                    </div>
                  <div class="alert alert-danger" [hidden]="!error.file">
                      {{ error.name }}
                    </div>
                    <div class="alert alert-danger" [hidden]="!error.title">
                        {{ error.teacher_id }}
                      </div>
                <form #newUserForm=ngForm>
                  <div class="form-group">
                      <label for="name">Year</label>
                      <input type="text" class="form-control" id="name" name="year" placeholder="Enter Grade"  required [(ngModel)]="data.year"/>
                  </div>
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="Enter Sub Class"  required [(ngModel)]="data.name"/>
                  </div>
                  <div class="form-group">
                      <label for="name">Teacher</label>
                      <input type="text" class="form-control" id="name" name="teacher_id" placeholder="Enter Teacher"  required [(ngModel)]="data.teacher_id"/>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary"  [disabled]="!newUserForm.valid" (click)='editsubmit()'>Save changes</button>
                <button type="button" class="btn btn-secondary" (click)='closeEditModal()'>Close</button>
              </div>
            </div>
          </div>

    </div>

    <!-- The Modal -->
    <div id="addModal" class="modal" style="background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add New Class</h5>
                <button type="button" class="close" (click)='closeAddModal()'>
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="alert alert-danger" [hidden]="!error.title">
                      {{ error.year }}
                    </div>
                  <div class="alert alert-danger" [hidden]="!error.file">
                      {{ error.name }}
                    </div>
                    <div class="alert alert-danger" [hidden]="!error.title">
                        {{ error.teacher_id }}
                      </div>
                <form #editUserForm=ngForm>
                    <div class="form-group">
                        <label for="name">Year</label>
                        <input type="text" class="form-control" id="name" name="year" placeholder="Enter Grade"  required [(ngModel)]="data.year"/>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Sub Class"  required [(ngModel)]="data.name"/>
                    </div>
                    <div class="form-group">
                        <label for="name">Teacher</label>
                        <input type="text" class="form-control" id="name" name="teacher_id" placeholder="Enter Teacher"  required [(ngModel)]="data.teacher_id"/>
                    </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)='addModalSubmit()' [disabled]="!editUserForm.valid">Save changes</button>
                <button type="button" class="btn btn-secondary" (click)='closeAddModal()'>Close</button>
              </div>
            </div>
          </div>
    </div>
